<div class="row d-flex flex-column align-items-center m-4 h-100">
<h2>Add a new cocktail</h2>
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Add cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
