<div class="banner cocktail-banner">
</div>
<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col-12">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
        <%= cl_image_tag @cocktail.photo, crop: :fill, class: "cocktail-img" %>
    </div>
    <div class="col-8 px-4">
      <div class="cocktail-ingredients">
        <h3>Ingredients</h3>
        <%= link_to new_cocktail_dose_path(@cocktail) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>

      <table class="table">
        <tbody>
          <th>Dose</th>
          <th>Ingredient</th>
          <th></th>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.description %></td>
              <td><%= dose.ingredient.name %></td>
              
              <td class="align-right"><%= link_to cocktail_dose_path([@cocktail, dose]), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
