<div class="sidebar py-5">
    <%= link_to cocktails_path do %>
    <h3>Cocktail Mixer</h3>
      <i class="fas fa-cocktail"></i>
    <% end %>
  <div class="side-bar-nav">
    <div class="side-bar-item">
      <%= link_to new_cocktail_path do %>
        Add new cocktail
      <% end %>
    </div>
  </div>

  <div class="search">
    <%= simple_form_for :search, url: cocktails_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: false, placeholder: "search for a cocktail", input_html: {value: "", style: 'width: 275px'} %>
      <%= f.submit "Search", class: "btn btn-primary search-submit" %>
    <% end %>
    
    <i class="fas fa-chevron-down"></i>
  </div>
</div>