<div class="row flex-column align-items-center justify-content-center mx-4 h-100">
<h2>Add a dose to <%= @cocktail.name %></h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: "Quantity" %>
    <%= f.input :ingredient, collection: Ingredient.order(name: :asc) %>
    <%= f.submit "Add dose", class: "btn btn-primary" %>
  <% end %>
</div>
